<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>댓글 분석</title>
    <style>
        .container{
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #url{
            width: 600px;
            height: 50px;
            font-size: 16px;
        }

        #btn{
            margin-left: 7px;
            height: 56px;
        }

    </style>
    <script>
        window.onload = function () {
            const btn = document.getElementById('btn')
            btn.onclick = function () {
                const url = new URL(document.getElementById("url").value)
                if(url.search.split("=")[1] == null){
                    window.location.href = '/search' + url.pathname
                } else{
                    window.location.href = '/search/' + url.search.split("=")[1]
                }

            }
        }
    </script>
</head>
<body>
    <div class="container">
        <input type="text" id="url" placeholder="유튜브 url을 입력하세요">
        <button id="btn">Search</button>
    </div>

</body>
</html>