.videoContainer {
  height: 90%;
  margin-top: 50px !important;
}

.video {
  height: 100%;
  width: 50% !important;
}

.content {
  display: flex;
  justify-content: center;
}

.infoContainer {
  width: 50% !important;
  margin-top: 15px;
}

.title {
  font-size: 20px;
}

.text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
