<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Naetube</title>
</head>
<style>
.container {
 margin-top:50px;
 max-width: 1000px;
 margin-bottom:50px;
 }
 .navbar-brand{
 margin-left:50px;
 }
 .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
 table{
    margin-left:auto;
    margin-right:auto;
 }
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap');
 body{
          background-color: #CD5C5C	;
}
 h2,button{
          font-family: 'Nanum Gothic', sans-serif;
          color: #ffffff;
          font-weight: bold;
}
tbody, thead{
     background-color: #ffffff;
 }
</style>
<body>
<nav class="navbar navbar-light bg-light static-top">
    <a class="navbar-brand" href="http://localhost:3000/">Naetube</a>
</nav>
<div class="container">
    <div style="float:left; margin-top:10px">총 건수: <span th:text="${recordPage.totalElements}"></span></div>
    <form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/list}">
        <div class="form-group mx-sm-3 mb-2" style="float:right;">
            <label for="search" class="sr-only">검색</label>
            <input type="text" class="form-control" id="search" name="search" th:value="${param.search}" placeholder="제목으로 검색">
        </div>
        <button type="submit" class="btn btn-light mb-2">검색</button>
    </form>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">VIDEO TITLE</th>
                <th scope="col">TIME</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${records}">
                <th scope="row" th:text="${recordStat.index+1 + nowPage*recordPage.size}"></th>
                <td th:width="450" th:text="${record.title}"></td>
                <td th:width="200" th:text="${record.createDate}"></td>
                <td th:width="140"><button class="btn btn-outline-dark" th:type="button" th:onclick="|location.href='@{/record/{id}(id = ${record.id})}'|">
                    자세히 보기</button></td>
                <form action="/record/delete" method="post">
                <input th:type="hidden" th:name="recordId" th:value="${record.id}">
                <td th:width="100"><button class="btn btn-outline-dark" type="submit">삭제</button></td>
                </form>
            </tr>
            </tbody>
        </table>
<!--    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
<!--        <a th:if="${page != nowPage}" th:href="@{/listPage(page = ${page -1})}" th:text="${page}"></a>-->
<!--        <strong th:if="${page == nowPage}" th:text="${page}" style="color: red"></strong>-->
<!--    </th:block>-->
</div>
<div style="position: fixed; bottom:0; width: 100%;">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1 == nowPage+1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/list(page= ${nowPage-1}, search=${param.search})}" tabindex="-1"> < </a>
            </li>
            <li class="page-item" th:classappend="${page == nowPage+1} ? 'disabled'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#" th:href="@{/list(page= ${page-1}, search=${param.search})}" th:text="${page}">1</a></li>
            <li class="page-item" th:classappend="${endPage == nowPage+1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/list(page= ${nowPage+1}, search=${param.search})}"> > </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>