<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Naetube</title>
</head>
<style>
    .container {
 max-width: 1000px;
 }
 .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
</style>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>분석 결과</h2>
    </div>
    <b><header>영상 정보</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">VideoDate</th>
            <th scope="col">View</th>
            <th scope="col">Likes</th>
        </tr>
        </thead>
        <tbody>
            <td th:width="530" th:text="${videoInfo.title}"></td>
            <td th:text="${videoInfo.videoDate}"></td>
            <td th:text="${videoInfo.view}"></td>
            <td th:width="80" th:text="${videoInfo.videoLike}"></td>
        </tbody>
        </tbody>
    </table>

    <br>
    <b><header>베스트 키워드</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">순위</th>
            <th scope="col">키워드</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="keyword: ${keywords}">
            <td th:text="${keyword.keywordRank}+1"></td>
            <td th:text="${keyword.word}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <b><header>키워드 관련 댓글</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">순위</th>
            <th scope="col">키워드 댓글</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="keywordComment: ${keywordComments}">
            <td th:width="80" th:text="${keywordComment.keyword.keywordRank}+1"></td>
            <td th:utext="${keywordComment.content}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <b><header>관심도</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">댓글 날짜</th>
            <th scope="col">댓글 수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="interest: ${interests}">
            <td th:text="${interest.commentDate}"></td>
            <td th:width="80" th:text="${interest.commentCount}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <b><header>타임라인</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">count</th>
            <th scope="col">label</th>
            <th scope="col">sec</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="timeline: ${timelines}">
            <td th:text="${timeline.count}"></td>
            <td th:text="${timeline.label}"></td>
            <td th:text="${timeline.sec}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <b><header>긍정/부정 지수</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">긍정</th>
            <th scope="col">부정</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${percent.positive}"></td>
        <td th:text="${percent.negative}"></td>
        </tbody>
    </table>
    <br>
    <b><header>감정 지수</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">행복</th>
            <th scope="col">놀람</th>
            <th scope="col">화남</th>
            <th scope="col">슬픔</th>
            <th scope="col">중립</th>
            <th scope="col">혐오</th>
            <th scope="col">두려움</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${percent.happy}"></td>
        <td th:text="${percent.surprise}"></td>
        <td th:text="${percent.anger}"></td>
        <td th:text="${percent.sadness}"></td>
        <td th:text="${percent.neutral}"></td>
        <td th:text="${percent.disgust}"></td>
        <td th:text="${percent.fear}"></td>
        </tbody>
    </table>
    <br>
<!--    <table class="table">-->
<!--        <thead class="thead-dark">-->
<!--        <tr>-->
<!--            <th scope="col">작성자 id</th>-->
<!--            <th scope="col">내용</th>-->
<!--            <th scope="col">index</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="comment: ${comments}">-->
<!--            <td th:text="${comment.commentUserId}"></td>-->
<!--            <td th:utext="${comment.content}"></td>-->
<!--            <td th:width="100" th:text="${comment.commentIndex}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
    <b><header>긍정 댓글</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">작성자</th>
            <th scope="col">내용</th>
            <th scope="col">좋아요</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <th:block th:if="${comment.commentIndex == '1'}">
                <td th:width="120" th:text="${comment.commentUserId}"></td>
                <td th:utext="${comment.content}"></td>
                <td th:width="80" th:text="${comment.commentLike}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
    <br>
    <b><header>부정 댓글</header></b>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">작성자</th>
                <th scope="col">내용</th>
                <th scope="col">좋아요</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment: ${comments}">
                <th:block th:if="${comment.commentIndex == '0'}">
                    <td th:width="120" th:text="${comment.commentUserId}"></td>
                    <td th:utext="${comment.content}"></td>
                    <td th:width="80" th:text="${comment.commentLike}"></td>
                </th:block>
            </tr>
            </tbody>
        </table>
    <br>
    <b><header>행복 댓글</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">작성자</th>
            <th scope="col">내용</th>
            <th scope="col">좋아요</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <th:block th:if="${comment.commentIndex == '7'}">
                <td th:width="120" th:text="${comment.commentUserId}"></td>
                <td th:utext="${comment.content}"></td>
                <td th:width="80" th:text="${comment.commentLike}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
    <br>
    <b><header>슬픔 댓글</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">작성자</th>
            <th scope="col">내용</th>
            <th scope="col">좋아요</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <th:block th:if="${comment.commentIndex == '5'}">
                <td th:width="120" th:text="${comment.commentUserId}"></td>
                <td th:utext="${comment.content}"></td>
                <td th:width="80" th:text="${comment.commentLike}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
    <br>
    <b><header>중립 댓글</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">작성자</th>
            <th scope="col">내용</th>
            <th scope="col">좋아요</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <th:block th:if="${comment.commentIndex == '6'}">
                <td th:width="120" th:text="${comment.commentUserId}"></td>
                <td th:utext="${comment.content}"></td>
                <td th:width="80" th:text="${comment.commentLike}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
    <br>
    <b><header>두려움 댓글</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">작성자</th>
            <th scope="col">내용</th>
            <th scope="col">좋아요</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <th:block th:if="${comment.commentIndex == '2'}">
                <td th:width="120" th:text="${comment.commentUserId}"></td>
                <td th:utext="${comment.content}"></td>
                <td th:width="80" th:text="${comment.commentLike}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
    <br>
    <b><header>놀람 댓글</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">작성자</th>
            <th scope="col">내용</th>
            <th scope="col">좋아요</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <th:block th:if="${comment.commentIndex == '3'}">
                <td th:width="120" th:text="${comment.commentUserId}"></td>
                <td th:utext="${comment.content}"></td>
                <td th:width="80" th:text="${comment.commentLike}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
    <br>
    <b><header>화남 댓글</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">작성자</th>
            <th scope="col">내용</th>
            <th scope="col">좋아요</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <th:block th:if="${comment.commentIndex == '4'}">
                <td th:width="120" th:text="${comment.commentUserId}"></td>
                <td th:utext="${comment.content}"></td>
                <td th:width="80" th:text="${comment.commentLike}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
    <br>
    <b><header>혐오 댓글</header></b>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">작성자</th>
            <th scope="col">내용</th>
            <th scope="col">좋아요</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <th:block th:if="${comment.commentIndex == '8'}">
                <td th:width="120" th:text="${comment.commentUserId}"></td>
                <td th:utext="${comment.content}"></td>
                <td th:width="80" th:text="${comment.commentLike}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>