<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Naetube</title>
</head>
<style>
    .container {
 max-width: 560px;
 }
 .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
</style>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>분석 결과</h2>
    </div>
    <header>영상 정보</header>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">VideoDate</th>
            <th scope="col">View</th>
            <th scope="col">Likes</th>
        </tr>
        </thead>
        <tbody>
            <td th:text="${videoInfo.title}"></td>
            <td th:text="${videoInfo.videoDate}"></td>
            <td th:text="${videoInfo.view}"></td>
            <td th:text="${videoInfo.videoLike}"></td>
        </tbody>
        </tbody>
    </table>

    <br>
    <header>베스트 키워드</header>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">순위</th>
            <th scope="col">키워드</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="keyword: ${keywords}">
            <td th:text="${keyword.keywordRank}"></td>
            <td th:text="${keyword.word}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <header>키워드 관련 댓글</header>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">순위</th>
            <th scope="col">키워드 댓글</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="keywordComment: ${keywordComments}">
            <td th:text="${keywordComment.keyword.keywordRank} "></td>
            <td th:text="${keywordComment.content}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <header>관심도</header>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">댓글 날짜</th>
            <th scope="col">댓글 수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="interest: ${interests}">
            <td th:text="${interest.commentDate}"></td>
            <td th:text="${interest.commentCount}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <header>타임라인</header>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">count</th>
            <th scope="col">label</th>
            <th scope="col">sec</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="timeline: ${timelines}">
            <td th:text="${timeline.count}"></td>
            <td th:text="${timeline.label}"></td>
            <td th:text="${timeline.sec}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <header>긍정/부정 지수</header>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">긍정</th>
            <th scope="col">부정</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${percent.positive}"></td>
        <td th:text="${percent.negative}"></td>
        </tbody>
    </table>
    <br>
    <header>감정 지수</header>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">행복</th>
            <th scope="col">놀람</th>
            <th scope="col">화남</th>
            <th scope="col">슬픔</th>
            <th scope="col">중립</th>
            <th scope="col">혐오</th>
            <th scope="col">두려움</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${percent.happy}"></td>
        <td th:text="${percent.surprise}"></td>
        <td th:text="${percent.anger}"></td>
        <td th:text="${percent.sadness}"></td>
        <td th:text="${percent.neutral}"></td>
        <td th:text="${percent.disgust}"></td>
        <td th:text="${percent.fear}"></td>
        </tbody>
    </table>
    <br>
    <header>댓글 분석 결과</header>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">작성자 id</th>
            <th scope="col">내용</th>
            <th scope="col">작성 날짜</th>
            <th scope="col">댓글 index</th>
            <th scope="col">좋아요 수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <td th:text="${comment.commentUserId}"></td>
            <td th:text="${comment.content}"></td>
            <td th:text="${comment.commentDate}"></td>
            <td th:text="${comment.commentIndex}"></td>
            <td th:text="${comment.commentLike}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>