<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
 .container {
 max-width: 560px;
 }
 .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
 </style>
    <title>Naetube</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>
    <br>
    <form action="" th:action th:object="${memberDTO}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <br>
        <div>
            <input type="text" id="loginId" th:field="*{loginId}" class="form-control" th:errorclass="field-error" placeholder="아이디 (6자~20자이내, 영문,숫자,-,_ 사용가능)">
<!--            <div class="field-error" th:errors="*{loginId}" />-->
            <div class="field-error" th:each="error, stat : ${#fields.errors('loginId')}" th:text="${error}" th:if="${stat.first}" />
        </div>
        <br>
        <div>
            <input type="password" id="password" th:field="*{password}" class="form-control" th:errorclass="field-error" placeholder="비밀번호 (8자~16자이내, 문자/숫자/기호 사용 필수)">
            <!--      오류 메시지가 반복에서 처음인 경우에만 div를 출력-->
            <div class="field-error" th:each="error, stat : ${#fields.errors('password')}" th:text="${error}" th:if="${stat.first}" />
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-dark" type="submit">회원 가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-dark" onclick="location.href='items.html'" th:onclick="|location.href='@{/login}'|" type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>
